*{

    margin:0;
    padding:0;
    box-sizing:border-box;

body{

    font-family:'Inter', sans-serif;

    background:linear-gradient(
        180deg,
        #f8fbff,
        #ffffff
    );

    color:#222;

}

header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 80px;

    border-bottom:1px solid #ddd;

}

.logo{

    width:170px;

}

nav a{

    text-decoration:none;

    color:#123d78;

    margin-left:30px;

    font-weight:bold;

}

.hero{

    text-align:center;

    padding:120px 50px;

}

.hero h1{

    font-size:56px;

    color:#123d78;

    margin-bottom:20px;

}

.hero p{

    font-size:24px;

    color:#555;

    margin-bottom:40px;

}

button{

    background:#123d78;

    color:white;

    padding:18px 45px;

    border:none;

    border-radius:8px;

    font-size:18px;

    font-weight:600;

    transition:.3s;

    cursor:pointer;

}

button:hover{

    background:#0d2f5c;

    transform:translateY(-2px);

}
.overview{

    padding:100px;

    max-width:1000px;

    margin:auto;

}

.overview h2{

    font-size:42px;

    color:#123d78;

    margin-bottom:25px;

}

.overview p{

    line-height:1.8;

    font-size:20px;

}